
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.spacer{
    height: 1.5rem;
}
.links{
    /* height : 9rem; */
    /* display: flex; */
    justify-content: space-between !important;
    align-items :start !important;
    /* overflow : hidden */
}
#categories button{
    font-weight: bold;
    font-size: larger;
    margin: 10px;
    color: black;
}
.table-yellow{
    background-color: rgb(151, 151, 58);
}
.table-yellow:hover{
    background-color: rgb(114, 114, 53) !important;
}

.error{
    display : none; 
}
/* .hidden{
    display : none;
    } */
.errorText p{
    
    font-weight: bold;

}

.flex1{
    display:flex;
    justify-content : space-between;
}
.flex1 a {
    margin: 5px;
}


   html,body, body:before, body:after{
     padding: 0;
     margin: 0;
     overflow-x: hidden; 
     font-family: 'Poppins', sans-serif;
     font-weight: bold;
   }

   @media only screen and (max-width: 440px)
   {
    .tools 
    {
        display :flex;
        align-items: center;
        flex-direction : column ;
        /* visibility: hidden !important; */
        justify-content :space-evenly !important ;
    }
    
    .flex1{
        display:flex;
        flex-direction :column;
        justify-content : space-between;
    }
    .verifyLead{
        width :100px;
    }
   
    .student-profile{
        margin : 10px 8vw 10px 8vw
    }
 
    .big
    {
        height : 25rem !important;
        width : 22rem !important;
    }
    .big12
    { 
        top : 0px !important;
        left : 15px !important;
    }   
    #categoriesModal
    {
        /* display: none ; */
        /* width :100%;
        height : 100%; */
        display:flex;
        flex-direction : column !important;
        justify-content : space-between;
    }
    #categoriesModal button{
        font-size :x-large !important;
    }
    /* .flex90{
        display :flex;
        flex-wrap :wrap;
        flex-direction : column;
    } */
}

   .modal-footer{
       display: flex;
       justify-content : space-between;
   }

   .modal-body{
       margin: 0px !important;
   }

   #newDescription,#newType,#newRate{
       width :100%;
   }

  
.student-profile{
    margin : 10px 25vw 10px 25vw
}



#categoriesModal{
    width :100%;
    height : 100%;
    display:flex;
    flex-direction : column;
    justify-content : space-between;
}


#categoriesModal button{
    font-size :xxx-large;
}

.big
{
    height : 35rem;
    width : 45rem;
}
.big12
{ 
    top : 0px !important;
    left : -130px;

}

@media only screen and (max-width: 750px) and (min-width: 500px)
{
    .big {
    /* {   display: none !important; */
        height : 30rem;
        width : 28rem;
    }
    .big12{ 
        top : 0px !important;
        left : 5px;
    
    }
    .navCus{
        border-radius: 255px 25px 225px 25px/25px 225px 25px 255px !important;
       justify-content: space-between !important; 
    }
    

}

.navCus{
    border-radius: 255px 25px 225px 30px/25px 225px 25px 255px !important;
}

.highlighter:focus{
    box-shadow: 0px 0px 20px #ffffff;
}
.highlighter{
    box-shadow: 0px 0px 20px #ffffff;
}

.tools 
{

    /* border : 1px solid #c8dc14; */
    display :flex;
    justify-content : space-around;
}

.flex91{
    display : flex;
    flex-direction : column;
}

.collection{
    display : flex;

}

.sortBox
{
    flex-direction: column !important;
}

.fa-heart{
    color:red;
}

.fa-database{
    color :aqua;
}

.guide{
    color:black;
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}

.btn{
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}


.theme {
    border-radius: 255px 45px 255px 25px/25px 225px 25px 255px;

}

.buttom{
    position :absolute;
    
    bottom: 1;
}

.fl{
    display : flex;
    justify-content : space-around;

}

input,select{
    font-weight:bold;
}

.cusStyle{
    display: flex;
}
#Contact{
    flex-basis: 85%;
    margin-right: 25px;
    margin-bottom: 10px;
}

   