.spacer{
    height: 90px;
}
.links{
    /* height : 9rem; */
    /* display: flex; */
    justify-content: space-between !important;
    align-items :start !important;
    /* overflow : hidden */
}
#categories button{
    margin: 10px;
}
.table-yellow{
    background-color: rgb(151, 151, 58);
}
.table-yellow:hover{
    background-color: rgb(114, 114, 53) !important;
}

.error{
    display : none; 
}
/* .hidden{
    display : none;
    } */
.errorText p{
    
    font-weight: bold;

}

   html,body, body:before, body:after{
     padding: 0;
     margin: 0;
     overflow-x: hidden; 
   }