.spacer{
    height: 90px;
}
.links{
    /* height : 9rem; */
    /* display: flex; */
    justify-content: space-between !important;
    align-items :start !important;
    /* overflow : hidden */
}
#categories button{
    margin: 10px;
}
.table-yellow{
    background-color: rgb(151, 151, 58);
}
.table-yellow:hover{
    background-color: rgb(114, 114, 53) !important;
}

.error{
    display : none; 
}
/* .hidden{
    display : none;
    } */
.errorText p{
    
    font-weight: bold;

}

.flex1{
    display:flex;
    justify-content : space-between;
}
.flex1 a {
    margin: 5px;
}
   html,body, body:before, body:after{
     padding: 0;
     margin: 0;
     overflow-x: hidden; 
   }

  



   @media only screen and (max-width: 540px)
   {
    .flex1{
        display:flex;
        flex-direction :column;
        justify-content : space-between;
    }
    .verifyLead{
        width :100px;
    }
    #myModal {
        position:absolute;
        top : 20vh;
    }
    .student-profile{
        margin : 10px 8vw 10px 8vw
    }
 
   }


   .modal-footer{
       display: flex;
       justify-content : space-between;
   }

   .modal-body{
       margin: 0px !important;
   }

   #newDescription{
       width :100%;
   }

   #myModal {
    position:absolute;
    top : 25vh;
}

.student-profile{
    margin : 10px 25vw 10px 25vw
}

.big
{
    height : 35rem;
    width : 45rem;
}

#categoriesModal{
    width :100%;
    height : 100%;
    display:flex;
    flex-direction : column;
    justify-content : space-between;
}


#categoriesModal button{
    font-size :xxx-large;
}